:root{
        /* Primary */
        --color-Dark-violet:hsl(256, 26%, 20%);
        --color-Grayish-blue:hsl(216, 30%, 68%);
        /* Neutral */
        --color-Very-dark-violet:hsl(270, 9%, 17%);
        --Dark-grayish-violet:hsl(273, 4%, 51%);
        --Very-light-gray:hsl(0, 0%, 98%);
}
body{
    margin: 0;
    padding: 0;    
    height: auto; 
}
.container__insure{       
    width: calc(100vw - (100vw - 100%));
    height: auto;        
}
.content__insure{  
    display: flex;  
    flex-direction: column;
    margin: auto;        
    height: auto;    
}
.nav__insure{    
    height: auto;
    height: 3.9rem;
    text-align: center;    
    background-color: var(--Very-light-gray);
    font-family: 'Karla', sans-serif;
}
.nav__first{        
    display: flex;
    position: relative;
    justify-items: center;
    padding-top: .9rem;
    margin-left: 1.5rem;    
    margin-right: 1.5rem;    
    justify-content: space-between;
}
.menu--check{
    display: none;
}
.img.logo{
    margin: auto 0;
    object-fit: contain;    
}
.bg--icon{        
    display: flex;
    justify-content: center;    
    width: 1.8rem;
    height: 1.8rem;
    background-color: var(--Very-light-gray);
    border: .093rem solid var(--color-Very-dark-violet);
}
.menu--logo{        
    position: relative;
    top: .4rem;
    cursor: pointer;
    margin: .5rem;
    background-color:  var(--color-Very-dark-violet);
    width: 1.2rem;
    height: .1rem;
}
.menu--logo::before{
    content: "";    
    display: block;
    position: relative;
    transition: top .4s;     
    top: -345%;    
    width: 1.2rem;
    height: .15rem;    
    background-color: var(--color-Very-dark-violet);
}
.menu--logo::after{
    content: "";
    display: block;
    position: relative;   
    transition: top .4s; 
    top: 140%;
    width: 1.2rem;
    height: .15rem;
    background-color: var(--color-Very-dark-violet);
}
.menu--check:checked + .menu--logo{
    background-color:transparent;
}
.menu--check:checked + .menu--logo::before{
    top: -.09rem;  
    transition: transform .3s;
    transform: rotate(-45deg) ;  
    
}
.menu--check:checked + .menu--logo::after{
    top: -.2rem;
    transition: transform .3s;    
    transform: rotate(-135deg) ; 
}
.ul.nav{    
    display: none;    
    position: fixed;    
    margin-top: 0;    
    top: 3.9rem;    
    left:0;
    width: 100vw;    
    height: 100%;
    flex-direction: column;
    color: var(--Very-light-gray);
    background-color: var(--color-Very-dark-violet);        
    line-height: 3rem;    
    list-style: none;
    padding-left: 0;    
}
.ul.nav.mobil{
    background-image: url(insure-landing-page-master/images/bg-pattern-mobile-nav.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    color: var(--Very-light-gray);
}
.li.nav{
    font-weight: 400;
    margin: 1.2rem 1.5rem;
    letter-spacing: .2rem;
}
.li.nav:last-child{
    color: var(--Very-light-gray);
    border: .2rem solid ;
}
.link--nav{
    display: block;    
    text-decoration: none;    
    width: 100%;    
    color: var(--Very-light-gray);
}
@keyframes animate-check {
    0% {
      transform: translateY(-100px);
      opacity: 0;      
    }
    50% {
      transform: translateY(-180px);      
      opacity: 0.5;
    }
    70% {
        transform: translateY(50px);
        opacity: 0.7;
      }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
.menu--check:checked ~ .ul.nav{
    animation: animate-check 1.5s forwards;
    display: block;
}
.section{
    font-family: 'DM Serif Display', serif;
}
.h1,.span{
    display: block;
}
.section.img.slider{    
    min-width: 320px;
    min-height:451px;    
    background-image: url(insure-landing-page-master/images/image-intro-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.section.humanizing{
    background-color: var(--Dark-grayish-violet);
}
.content-section{    
    position: relative;    
    height: auto;
    margin: auto 1.5rem;
    
    text-align: center;
}


